* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(./fonts/Montserrat-Regular.ttf);
}

body {
  margin: 0 auto;
  width: 75%;
}

.servicecont {
  width: 60%;
  margin: 0 auto;

  &__text {
    text-align: center;
    width: 70%;
    margin: {
      top: 100px;
      bottom: 100px;
      left: 20%;
    }
    h1 {
      font: {
        family: "Montserrat";
        style: normal;
        weight: bold;
        size: 40px;
      }
      line-height: 57px;

      text-align: center;
      letter-spacing: 0.2px;

      color: #252b42;
    }

    p {
      font : {
        family: "Montserrat";
        style: normal;
        weight: 500;
        size: 14px;
      }
      line-height: 20px;

      text-align: center;
      letter-spacing: 0.2px;

      color: #737373;
    }
  }
}

.service {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  gap: 120px;

  &__photo {
    position: relative;

    &--icon {
      position: absolute;
      top: 40%;
      left: 40%;
    }

    &--resp {
      display: none;
    }
  }

  &__right {
    &--firsttext {
      width: 84%;
      h2 {
        font : {
          family: "Montserrat";
          style: normal;
          weight: bold;
          size: 40px;
        }
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #252b42;
      }

      p {
        font: {
          family: "Montserrat";
          style: normal;
          weight: 500;
          size: 14px;
        }
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
        margin-top: 10px;
      }
    }

    &--secondtext {
      display: flex;
      align-items: center;
      margin-top: 30px;
      gap: 20px;

      width: 80%;

      h3 {
        font: {
          family: "Montserrat";
          style: normal;
          weight: 700;
          size: 16px;
        }
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252b42;
      }
    }

    &--thirdtext {
      display: flex;
      align-items: center;
      margin-top: 30px;
      gap: 20px;

      width: 80%;

      h3 {
        font: {
          family: "Montserrat";
          style: normal;
          weight: 700;
          size: 16px;
        }
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252b42;
      }
    }

    p {
      font : {
        family: "Montserrat";
        style: normal;
        weight: 600;
        size: 14px;
      }
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #737373;
      margin-top: 5px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  body {
    width: 85%;
  }

  .servicecont {
    width: 80%;
    margin: 0 auto;
  }

  .service {
    gap: 90px;

    &__right {
      &--firsttext {
        width: 95%;
      }

      &--secondtext {
        width: 100%;
      }

      &--thirdtext {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  body {
    width: 90%;
  }

  .servicecont {
    width: 80%;

    &__text {
      margin: {
        bottom: 80px;
      }
    }
  }

  .service {
    gap: 60px;

    &__photo {
      position: relative;

      &--icon {
        position: absolute;
        top: 30%;
        left: 40%;
      }
    }

    &__right {
      &--firsttext {
        width: 100%;
        h2 {
          font : {
            size: 32px;
          }
          line-height: 50px;
        }

        p {
          font: {
            size: 14px;
          }
          line-height: 18px;
        }
      }

      &--secondtext {
        gap: 15px;
        width: 100%;
      }

      &--thirdtext {
        gap: 15px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  body {
    width: 80%;
  }
  .servicecont {
    width: 90%;

    &__text {
      margin: {
        bottom: 80px;
        left: 15%;
      }

      h1 {
        font: {
          size: 35px;
        }
        line-height: 50px;
      }

      p {
        font : {
          size: 14px;
        }
        line-height: 18px;
      }
    }
  }

  .service {
    display: block;
    width: 100%;
    justify-content: center;
    &__photo {
      position: relative;
      &--icon {
        position: absolute;
        top: 40%;
        left: 40%;
      }
    }

    &__right {
      margin-top: 30px;
      &--firsttext {
        text-align: center;
        width: 100%;
        h2 {
          font : {
            size: 38px;
          }
          line-height: 53px;
        }

        p {
          font: {
            size: 16px;
          }
          line-height: 20px;
        }
      }

      &--secondtext {
        margin-top: 30px;
        gap: 30px;
        width: 100%;
        justify-content: center;

        h3 {
          font: {
            size: 18px;
          }
        }
      }

      &--thirdtext {
        gap: 30px;
        width: 100%;
        justify-content: center;

        h3 {
          font: {
            size: 18px;
          }
        }
      }

      p {
        font : {
          size: 16px;
        }
        margin-top: 5px;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 85%;
  }

  .servicecont {
    width: 95%;

    &__text {
      margin: {
        bottom: 80px;
        left: 10%;
      }
      width: 85%;
    }
  }

  .service {
    &__photo {
      position: relative;

      &--back {
        width: 500px;
      }
    }
  }
}

@media only screen and (max-width: 586px) {
  body {
    width: 85%;
  }

  .servicecont {
    width: 90%;
    margin-left: 0%;

    &__text {
      margin: {
        bottom: 40px;
        left: 10%;
      }
      width: 95%;

      h1 {
        font: {
          size: 25px;
        }
        line-height: 30px;
      }

      p {
        font : {
          size: 12px;
        }
        line-height: 18px;
        margin-top: 20px;
      }
    }
  }

  .service {
    &__photo {
      position: relative;

      &--back {
        display: none;
      }

      &--icon {
        display: none;
      }

      &--resp {
        display: block;
        width: 260px;
        width: 100%;
      }
    }

    &__right {
      &--firsttext {
        width: 95%;
        text-align: center;
        h2 {
          font : {
            size: 25px;
          }
          line-height: 30px;
        }

        p {
          font: {
            size: 12px;
          }
          line-height: 16px;
          margin-top: 5px;
        }
      }

      &--secondtext {
        margin-top: 20px;
        gap: 10px;
        width: 100%;

        h3 {
          font: {
            size: 14px;
          }
          line-height: 20px;
        }
      }

      &--thirdtext {
        margin-top: 20px;
        gap: 10px;
        width: 100%;

        h3 {
          font: {
            size: 14px;
          }
          line-height: 20px;
        }
      }

      p {
        font : {
          size: 12px;
        }
        line-height: 18px;
        margin-top: 5px;
        text-align: center;
      }
    }
  }
}
